{% extends "template_1.html" %}
{% load i18n %}
{% block ext_js %}
    {{ uc_form.media }}
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/imagnet.js"></script>
    <script type="text/javascript">

        function check_field(field, errors_list){
            var control_group = field.parents('.control-group');
            for (var i=0; i<errors_list.length; i++){
                if(errors_list.indexOf(field.attr('name')) != -1){
                    if (!control_group.hasClass('error')){
                        control_group.addClass('error');
                    }
                }else{
                    control_group.removeClass('error');
                }
            }
        }

        $('.order_form input').on('blur', function(ev){
            var target = $(this);
            var form = $(this).parents('form');
            console.log(target);
            $.ajax({
                url: '{% url order_form_validate %}',
                type: 'post',
                data: form.serialize(),
                success:function(resp){
                    var json = resp;
                    check_field(target, json.errors);
                }
            })
        });

        var iMagnet = {
            __magnet_box__: '',
            __html__: '<div class="alert alert-error">'+
                      '<button type="button" class="close" data-dismiss="alert">×</button>'+
                      '<strong>Ошибка!</strong> ${message}</div>',
            target: '.messages',
            error: function(message){
                $(this.target).html(this.__html__.replace('${message}', message));
            },
            duplicate: function(donor){
                var clone = $(donor).clone();
                $.post("{% url duplicate_magnet %}", {'donor_id': donor.attr('data-magnet-id')}, function(resp){
                    var magnet_id = resp.id
                    clone.attr('data-magnet-id', magnet_id);
                    $('.order_box').append(clone);
                });
            },
            delete: function(target){
                $.post("{% url delete_magnet %}", {'target_id': target.attr('data-magnet-id')}, function(resp){});
                $(target).remove();
            },
            edit: function(target){

            }

        };

        $('.order_form').ajaxForm(function(response) {
            if (response.redirect_to){
                window.location.href = response.redirect_to;
            }else{
                iMagnet.error('не удалось создать заказ. Попробуйте снова');
                try{
                    var errors = response;
                    for (var i=0; i<errors.length; i++){
                        var error = errors[i];
                        check_field($('input[name=' + error[0] + ']'), errors.map(function(el){return el[0]}));
                    }
                }catch (ex){}

            }
        });

        UPLOADCARE_PUBLIC_KEY = "{{ uploadcare.pub_key }}";
        UPLOADCARE_LOCALE = 'ru';
        UPLOADCARE_IMAGES_ONLY = true;
        UPLOADCARE_AUTOSTORE = true;
        //var widget = uploadcare.MultipleWidget('[role=uploadcare-uploader][data-multiple]');
        var widget = uploadcare.Widget('[role=uploadcare-uploader]');
        widget.onUploadComplete(function(info) {
            // Handle uploaded file info.
            //TODO "сделать переход на страницу заказа"
            console.log("completed");
            console.log(info);
            var g_info = {
                "target_id": now_edit.attr('data-magnet-id'),
                "cdnUrl": info.cdnUrl,
                "cdnUrlModifiers": info.cdnUrlModifiers,
                "crop": info.crop,
                "isImage": info.isImage,
                "isStored": info.isStored,
                "name": info.name,
                "previewUrl": info.previewUrl,
                "size": info.size,
                "uuid": info.uuid
            };
            $.ajax({
                url: "{% url edit_magnet %}",
                data: g_info,
                async: true,
                type: 'post',
                success: function(response){
                    if(now_edit.length){
                        now_edit.find('.order_pic').css('background-image', 'url(' + response.image + ')');
                    }else{
                        iMagnet.error('Не удалось редактировать магнитик');
                    }
                }
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="clearfix"></div>
    <!-- Jumbotron -->
    <div class="order_box">
        {% if editable %}
            {% for magnet in order.magnets.all %}
                <div class="order_add" data-magnet-id="{{ magnet.pk }}">
                    <div class="order_magnit">
                        <div class="order_magnit_shell"></div>
                        <div class="order_pic" style="background-image: url({{ magnet.image }})"></div>
                        <div class="overlay hidden">
                            <a class="btn btn-info first edit" href="#" onclick="return false;">
                                <i class=" icon-screenshot"></i>&nbsp;Редактировать
                            </a>
                            <a class="btn btn-info btn-small second duplicate" href="#" onclick="return false;">
                                <i class="icon-book"></i>&nbsp;Дублировать
                            </a>
                            <a class="btn btn-danger btn-mini third delete" href="#" onclick="return false;" >
                                <i class="icon-trash"></i>&nbsp;Удалить
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for magnet in order.magnets.all %}
                <div class="order_add">
                    <div class="order_magnit">
                        <div class="order_magnit_shell"></div>
                        <div class="order_pic" style="background-image: url({{ magnet.image }})"></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if editable %}
        <div class="order_list">
            <span>
                {% blocktrans count magnet_count=order.magnets.all.count %}{{ magnet_count }} magnet{% plural %}{{ magnet_count }} magnets{% endblocktrans %}
            </span><p class="right magnet_cost">{{ order.get_total_sum }} грн.</p></br>
            <span>Доставка по Украине</span><p class="right delivery_cost">{{ order.get_cost_of_delivery }} грн.</p></br>
            {% if order.payment_type == 'after_delivery' %}
                <span class="after_delivery"><span>Наложенный платеж</span><p class="right cost_on_delivery">{{ order.get_price.cash_on_delivery }} грн.</p></span></br>
            {% else %}
                <span class="after_delivery hidden"><span>Наложенный платеж</span><p class="right cost_on_delivery">{{ order.get_price.cash_on_delivery }} грн.</p></span>
            {% endif %}

            <hr>
            <span><strong>К оплате</strong></span><p class="right total_cost"><strong>{{ order.get_total_sum_with_delivery }} грн.</strong></p>

            <form class="form-horizontal order_form" method="post" action="{% url create_order %}">{% csrf_token %}
                <div class="control-group {% if form.fio.errors %}error{% endif %}">
                    <label class="control-label" for="id_fio">Имя и фамилия</label>
                    <div class="controls">
                        {{ form.fio }}{% comment %}<input type="text" id="id_fio" name="fio" placeholder="Имя и фамилия">{% endcomment %}
                    </div>
                </div>

                <div class="control-group {% if form.phone.errors %}error{% endif %}">
                    <label class="control-label" for="id_phone">Телефон</label>
                    <div class="controls">
                        {{ form.phone }}{% comment %}<input type="text" id="id_phone" name="phone" placeholder="Телефон">{% endcomment %}
                    </div>
                </div>

                <div class="control-group {% if form.email.errors %}error{% endif %}">
                    <label class="control-label" for="id_email">E-mail</label>
                    <div class="controls">
                        {{ form.email }}{% comment %}<input type="text" id="id_email" name="email" placeholder="E-mail">{% endcomment %}
                    </div>
                </div>

                <div class="control-group {% if form.city.errors %}error{% endif %}">
                    <label class="control-label" for="id_city">Город</label>
                    <div class="controls">
                        {{ form.city }}{% comment %}<input type="text" id="id_city" name="city" placeholder="Город">{% endcomment %}
                    </div>
                </div>

                <div class="control-group {% if form.new_poshta_affiliate.errors %}error{% endif %}">
                    <label class="control-label post_number" for="inputPost">Отделение "Новой почты"</label>
                    <div class="controls" id="inputPost">
                        {{ form.new_poshta_affiliate }}{% comment %}<input type="text" id="inputPost" name="new_poshta_affiliate">{% endcomment %}
                    </div>
                </div>


            <a href="http://novaposhta.ua/frontend/brunchoffices/ru" target="_blank"><p class="text-right link"><small>Найти ближайшее</small></p></a>

            <div class="pay">
                <p><small>Способ оплаты</small></p>
                <label class="radio" style="display:inline-block">
                    <input type="radio" name="payment_type" id="optionsRadios1" value="online" checked >
                    Оплатить онлайн &nbsp;(<a href="#" target="_blank" class="choise">много способов</a>)
                </label>
                <label class="radio">
                    <input type="radio" name="payment_type" id="optionsRadios2" value="after_delivery">
                    Оплатить при получении (+15 грн.)
                </label>
                <input type="submit" class="btn  btn-success" value="Оформить заказ">
            </div>
            </form>
        </div>
    {% else %}
        <div class="order_done">
            <h3>Ваш заказ №{{ order.pk }} оформлен</h3>
            <h4>Данные для доставки</h4>
            <p>{{ order.city }}, склад №{{ order.new_poshta_affiliate }},</p>
            <p>{{ order.phone }}</p>
            <p>{{ order.fio }}</p>
            {% if order.status == 'waiting_for_payment' and order.payment_type == 'online' %}
            <h4>К оплате</h4>
            <p>{% if order.payment_type == 'online' %}{{ order.get_total_sum }}{% else %}{{ order.get_total_sum_with_delivery }}{% endif %} грн. {% if order.payment_type == 'online' %}(оплата онлайн){% else %}(оплата при получении){% endif %}</p>
            {% endif %}
            <h4>Статус заказа</h4>
            {% if order.status != 'sent' %}
                <p>{{ order.get_status_display }}</p>
            {% else %}
                <p>{{ order.get_status_display }}, {% blocktrans with declaration_number=order.declaration_number %}declaration #{{ declaration_number }} {% endblocktrans %}</p>
            {% endif %}
            {% if order.status == 'waiting_for_payment' and order.payment_type == 'online' %}
                <form action="{{ pay_form.target }}" method="POST">
                    {{ pay_form.as_p }}
                    <p><input class="btn btn-success" type="submit" value="Перейти к оплате"></p>
                </form>
            {% endif %}
            <p><small>Если вы заметили неточности в заказе, <a class="link" href="#" target="_blank">напишите нам.</a></small></p>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <form class="hidden">{% csrf_token %}
        {{ uc_form.as_p }}
    </form>

{% endblock %}